.ability:not(:last-child)::after {
  content: ", ";
  width: 1em;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
